<div id="">
<div class="row">
  <div class="span6">
    <%= form_for @page, :remote => true do |f| %>

      <div class="field">
      <%= f.text_field :name %>
      </div>
      <div class="html_field">
      <%= f.hidden_field :html %>
      </div>

      <div class="container">
        <div id="editor-wrapper">
          <%= raw @page.html %>
        </div>
      </div>
      <div class="modal" id="input-modal">
        <div class="modal-header">
          <a class="close" data-dismiss="modal">x</a>
          <h3>Widget Properties</h3>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
          <button id="input-cancel" data-dismiss="modal" class="btn btn-large">Cancel</button>
          <button id="input-ok" class="btn btn-primary btn-large input-ok">OK</button>
        </div>
      </div>

      <div class="field">
      <%= f.label :description %>
      <%= f.text_area :description %>
      </div>

      <div class="actions">
      <%= f.submit "Commit Changes", class: "btn btn-large btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
</div>
