<% content_for :head do %>
  <%= stylesheet_link_tag "bootstrap" %>
  <%= stylesheet_link_tag "farbtastic" %>
  <%= stylesheet_link_tag "editor" %>
<script type="text/Javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<% end %>

<% content_for :nav do %>
  <li> <%= link_to "library", library_path %> </li>
  <li> <%= link_to @page.topic.section.name, section_path(@page.topic.section) %> </li>
  <li> <%= link_to @page.topic.name, topic_path(@page.topic) %> </li>
  <li> <%= link_to @page.name, @page %> </li>
<% end %>



  <div id="page_container">
    <div id="Title">
      <h1><%= @page.name %></h1>
    </div>
    <div id="page_content">
      <%= raw @page.html %>
    </div>
  </div>


<div id="page_nav">
  <% if @previousPage != nil %>
    <%= link_to @previousPage.name, page_path(@previousPage) %>
  <% end %>
  <% if @nextPage != @page %>
    <%= link_to @nextPage.name, page_path(@nextPage) %>
  <% else %>
    <%= link_to "Move on to topic #{@page.topic.name}", topic_path(@page.topic) %>
  <% end %>
</div>
<p> <button id="save_button">Save </button> </p>
